[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
celery = "==4.4.7"
redis = "*"
django-celery-beat = "*"
django-celery-results = "*"
pandas = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
